.profileTop {
  display: flex;
  flex-direction: row;
  justify-content: left;

  background-color: #a872ac;
  width: 70%;
  border-radius: 20px;
  /* border: 2px solid; */
  border-color: rgb(255, 255, 255);
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.profile__cardheader {
  /*left: icon, username, profession*/
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;

  /* background-color: #ffffff; */
}
.profile__imagecrop {
  margin: 15px 20px;
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}
.profile__username {
  margin-top: 5px;
  text-align: center;
}
.profile__profession {
  text-align: center;
}

.profile__cardabout {
  color: black;
  /*right: about, followers,following,subs*/
  flex-direction: column;
  width: 70%;
  margin-left: 80px;
}
.profile__description {
  text-align: left;
  margin-left: 20px;
  width: 70%;
}
.profile__folContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-left: 20px;
  width: 70%;
}
.profile__fol {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
  margin: 10px 5px;
  background-color: #7a4c7c;
}
.profile__folstats {
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 5px;
}
.profile__cardFollowContainer {
  margin-left: 15px;
  display: flex;
  align-items: center;
  /* background: #a872ac; */
  margin-bottom: 5px;
  width: 70%;
}
.profile__cardFollowContainer > button {
  width: 100%;
  margin-left: 5px;
  font-family: "Nunito", sans-serif;
  background: #a872ac;
  border: 2px solid;
  margin-top: 10px;
  border-color: #ffffff #ffffff #ffffff;
  color: #ffffff;
  padding: 15px 50px;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
}
.profile__cardbuttonContainer {
  margin-left: 15px;
  display: flex;
  align-items: center;
  /* background: #a872ac; */
  margin-bottom: 20px;
  width: 70%;
}
.profile__cardbuttonContainer > button {
  width: 100%;
  margin-left: 5px;
  font-family: "Nunito", sans-serif;
  background: #a872ac;
  border: 2px solid;
  margin-top: 10px;
  border-color: #ffffff #ffffff #ffffff;
  color: #ffffff;
  padding: 15px 32px;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
}
