.profileTop {
  justify-content: flex-end;
  margin: 10px;
  width: 100%;
  background-color: #afd1f8;
}

.profile__card {
  display: flex;
  flex-direction: row;
}

.profile__cardicon {
  /*left: icon, username, profession*/
  display: flex;
  flex-direction: column;
}

.profile__cardabout {
  /*right: about, followers,following,subs*/
  display: flex;
  flex-direction: column;
}

.profile__cardbutton > button {
  background: #7788e7;
  border: 1px solid;
  margin-top: 10px;
  border-color: #ffffff #ffffff #ffffff;
  color: #ffffff;
}

.profile__fol {
  height: 25px;
  margin-bottom: 15px;
}

.profile__folnums {
  height: 25px;
  margin-bottom: 15px;
}
